
.Navbar {    
    list-style: none;
}

.Navbar li {
    margin: 10px;
    text-decoration: none;
}
.Navbar li a{
    text-decoration: none;
}

.Navbar li:hover {
    color:green;
    cursor: pointer;
}

.active {
    color: red;
    background-color: aqua;
}